# Python venv
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit cache
.streamlit/

# IDE folders
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*~
